nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
html {
  background: url("confety.gif") repeat center fixed, url("wedding.jpeg") no-repeat center fixed;
  background-size:  130px, cover;
}
#countdown
{
    text-align: center;
    font-size: 90px;
    margin-top: 60px;
    /* opacity: 0.3; */
    color: rgba(29, 88, 164, 0.59);
    font-family: 'Dancing Script', cursive;

}
body {
  
  background-color: rgba(0, 0, 0, 0);
}
footer {
    bottom: 0%;
    position: fixed;
    right: 50%;
    color: #000000;
    font-size: 12px;
}
h1{
    color: rgba(140, 5, 126, 0.45);
    font-size: 80px;
    margin-top: 80px;
    text-align: center;
    font-family: 'Dancing Script', cursive;

}